.button.buttonO img,
#modVoteHold,
#tradeChatInput,
#itemSearchH,
#customizeButton .material-icons,
#braveWarning,
#menuClassNameTag,
#bubbleContainer,
#killsIcon,
#deathsIcon,
#streakIcon,
#livesCount .material-icons,
#scoreCount .material-icons,
#kdIcon,
#botRightHider #weapDisplay .weapItem .weapKey,
.weapKey,
.tScoreM,
#weapDisplay,
#newsHolder,
.terms[style="font-size: 16px; padding-left: 10px;"][onclick="window.chrome.webview.postMessage(`clientInfo`)"],
.terms[onclick="showWindow(35)"]+.verticalSeparatorInline{
	display: none!important
}

#healthBar {
    position: fixed;
    right: unset;
    left: 50%;
    bottom: 90px;
    background-color: transparent;
    height: 35px;
    transform: translateX(-50%);
    display: block!important
}

#healthValue {
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    margin-left: -145px;
    right: unset;
    bottom: -5px;
    font-size: 72px;
}

#ammoVal {
    position: fixed;
    right: 50%;
    transform: translateX(50%);
    margin-right: -150px;
    left: unset;
    bottom: -5px;
    font-size: 72px;
}

#mLevelCont {
	left: 280px!Important
}
